@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

header {
    border: 1px solid black;
}

h1 {
    text-align: center;
}

header p {
    display: inline;
}

#login-form {
    display: inline;
}

#login-form label {
    text-align: right;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
}

#sidebar .sidebar-header {
    background: #6d7fcc;
    margin: 0;
}

#sidebar ul.components {
    /*padding: 20px 0;*/
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a {
    color: white;
    background: orange;
}

/*article, div {
    border: 1px solid black;
}*/

textarea {
    display: block;
}

input[type="reset"], input[type="submit"] {
    margin-top: 10px;
}
